@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 50;
    filter: alpha(opacity=50);
  }
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

$boxShadow: 0 0.5px 0.5px rgba(229, 103, 23, 0.075) inset, 0 0 4px #007bff;

html {
  font-size: 62.5%;
  font-family: 'Merriweather Sans', sans-serif;
}

html,
body {
  width: 100%;
  height: 100% ;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url(../public/static/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

#Container,
#root{
    height: 100%;
    flex-direction: column;
}

@for $i from 1 through 4 {
  h#{$i} {
    font-size: 4rem / $i;
    margin: 0%;
  }
}

#Buscador {
  width: 40%;
  flex-direction: column;
}

#Buscar,
#Unidad {
  width: 70%;
  height: 3rem;
  border: 1px solid darkgray;
  border-radius: 3px;
  box-sizing: border-box;
  &:focus {
    border-color: #01567b;
    box-shadow: $boxShadow;
    outline: 0 none;
  }
}

#BotonPronostico {
  width: 40%;
  height: 3rem;
  color: white;
  background: #2980b9;
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
  background: linear-gradient(to right, #2c3e50, #2980b9);
  border: 1px solid #007bff;
  border-radius: 5px;
  box-shadow: $boxShadow;

  &:hover {
    background: #1b7892b9;
  }
}

#Contenedor {
  width: 60%;
}

#Contenedor-Datos {
  width: 70%;
  padding: 2%;
}

#Contenedor-Datos,
#Caja1,
#Caja2,
#Caja3 {
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.564);
  border: solid 3px lightgray;
  border-radius: 8px;
  box-shadow: 0 0.8px 0.8px rgba(203, 201, 200, 0.225) inset, 0 0 5px #ffffffb9;
  box-sizing: border-box;
}

#Datos-Hoy {
  border-top: solid 1px lightgray;
}

#Datos-Locales,
#Datos-Clima {
  width: 40%;
}

.Caja {
  height: 80%;
  width: 18%;
}

.Info {
  height: 60%;
}

#Registros {
  height: 40%;
}

.fadeIn {
  animation: fadeIn 5s;
}

.Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jc-se {
  justify-content: space-evenly;
}

.w-100 {
  width: 100%;
}

.h-10 {
  height: 10%;
}

.h-30 {
  height: 30%;
}

.h-50 {
  height: 50%;
}

.h-70 {
  height: 70%;
}

.h-90 {
  height: 90%;
}

.p-1 {
  padding: 1%;
}

@media (max-width: 650px) {
  .Info {
    flex-direction: column;
    height: 85%;
  }

  #Buscador {
    flex-direction: column;
    width: 60%;
    height: 30%;
  }

  #Buscar {
    width: 70%;
  }

  #Unidad {
    width: 70%;
  }

  #BotonPronostico {
    width: 70%;
  }

  #Contenedor {
    width: 90%;
    height: 70%;
  }

  #Contenedor-Datos {
    width: 100%;
    height: 90%;
  }

  #Registro {
    height: 15%;
  }

  .Caja {
    width: 30%;
  }
}

@media (max-height: 730px) {
  @for $i from 1 through 4 {
    h#{$i} {
      font-size: 2.5rem / $i;
      margin: 0%;
    }
  }

  #Buscador {
    height: 50%;
  }
}

@media (max-height: 850px) and (max-width: 710px) {
  #Buscador {
    flex-direction: column;
    height: 30%;
  }

  #Contenedor {
    height: 70%;
  }

  @for $i from 1 through 4 {
    h#{$i} {
      font-size: 2.5rem / $i;
      margin: 0%;
    }
  }
}

@media (max-width: 670px) and (max-height: 376px) {
  #Buscador {
    height: 60%;
  }
}

@media (max-width: 1000px) and (min-height: 1000px) {
  #Contenedor {
    width: 70%;
    height: 70%;
  }

  .Caja {
    height: 75%;
    width: 30%;
  }
}